/* src/components/common/Footer.css */

.footer-container {
    padding: 20px 0;
    text-align: center;
    background-color: var(--secondary-color); /* Fondo oscuro (el mismo de la Navbar) */
    color: white;
    font-size: 0.9rem;
    border-top: 5px solid var(--primary-color); /* Una línea de color de acento */
}

.footer-container p {
    margin: 0;
}